:root {
  --primary-main: #266d47;  
  --primary-main2: #00391a;  
  --primary-yellow: #ffff00;  
  --secondary-blue: #B7CBD0;  
  --secondary-green: #3D4E3E;  
  --secondary-grey: #e6e6e6; 
  --text-black: #181D27; 
}   
a{
  text-decoration: none !important; 
}
a:hover{
  text-decoration: none;
} 
body{
  font-family: "Prompt", sans-serif;
  font-style: normal; 
  overflow-x: hidden !important;
}     
nav.navbar{
  background-color: var(--primary-main2) !important;
  height: 60px;
}
.navbar-brand img{
  height: 100px;
} 
nav.navbar .navbar-nav .nav-item{
  color: white; 
  margin-left: 5px;
  margin-right: 5px;
  transition: 0.3s; 
}
nav.navbar .navbar-nav .nav-item.active{
  border-bottom: 4px solid var(--primary-yellow);
}
nav.navbar .navbar-nav .nav-item:hover{
  border-bottom: 4px solid var(--primary-yellow);
}
nav.navbar .navbar-nav .nav-item .nav-link{
  color: white;
}
nav.navbar .navbar-nav .nav-item.active .nav-link{
  font-weight: bold; 
}
nav.navbar .nav-item.d-flex{
  border-bottom: 4px solid transparent !important;
} 
nav.navbar .nav-item.d-flex:hover{
  border-bottom: 4px solid transparent !important;
}
.langx .active{
  font-weight: bold;  
}
.th, .en { display: none; }  
.sec-social{ 
  height: 60px;
  background-color: var(--secondary-grey);
  margin-top: 60px;
} 
.sec-social ul{ 
  display: flex;
  list-style: none;
  padding-left: 0px; 
  align-content: center;
  height: 60px;
  width: 100% !important; 
  text-align: center;
  justify-content: center;
}
.sec-social ul li{ 
  margin-left: 10px;
  margin-right: 15px;
  text-align: center;
  align-content: center;
  margin-bottom: 5px;
  margin-right: 15px;
}
.sec-social ul li img{   
  height: 30px;
  width: 30px;
  object-fit: cover;
  margin-right: 5px;
} 
.sec-social ul li a{
  font-weight: bold;
  transition: 0.3s;
  color: var(--text-black);  
}
.sec-social ul li:hover a{ 
  color: var(--primary-main);  
}
.sec-carousel .carousel-caption{
  height: 60%;
  color: var(--primary-main2);
}
.sec-carousel .carousel-caption h3{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}
.sec-carousel .carousel-caption p{
  font-size: 20px;
  font-weight: bold;
}
.sec-carousel .carousel-indicators button{
  width: 50px;
  opacity: 1;
  height: 3px;
  background-color: var(--primary-main);
}
.sec-carousel .carousel-indicators button.active{
  height: 7px;
  margin-top: -2px;
}
.sec-carousel .carousel-indicators{
  right: unset !important;
  bottom: 20px;
}
.sec2{
  background-color: #e4e4e4;
  padding-top: 50px;
  padding-bottom: 50px;
}
.sec2 h3{
  font-size: 44px;
  color: var(--primary-main);
  text-align: center; 
  font-weight: bold;
}
.sec2 p{
  font-size: 24px;
  color: var(--primary-main);
  text-align: center;
  font-weight: bold;
}
.sevbox img{
  height: 140px;
  width: 140px;
  display: block;
  margin: 40px auto; 
}
.sevbox p{ 
  font-size: 18px;
  color: var(--text-black);
}
.hook{
  position: absolute;
  right: 0;
  top: -50px;
  z-index: 3;
}
.sec3 .row .col-lg-6:nth-child(1){
  min-height: 650px;
  background-image: url(../images/teamwork.jpg);
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: auto 100%  !important;
}
.sec3 .row .col-lg-6:nth-child(2){
  min-height: 650px;
  background-image: url(../images/bg3.jpg);
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: auto 100%  !important;
}
.abucir{
  background-color: var(--primary-main);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0 !important;
  left: 0 !important;
  display: flex;
  height: 220px;
  width: 220px;
  border-radius: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.abucir h3{
  font-size: 38px;
  color: white;
  text-align: center; 
  font-weight: bold;
  line-height: 30px;
  padding-top: 20px;
}
.abucir h3 span{
  font-size: 24px;
  color: white; 
} 
.sec3 .des{
  display: flex;
  min-height: 600px;
  align-items: center;
  max-width: 350px;
  margin-left: 20%;
  color: #fff;
}
.sec3 h4{
  font-size: 20px;
  margin-bottom: 20px;
}
.sec3 p{
  font-size: 16px;
}
.sec3 p span{
  font-weight: bold;
} 
.sec3 .btn{
  border-radius: 0px;
  border: 1px solid var(--primary-yellow);
  background-color: transparent !important;
  color: white;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
}
.sec3 .btn:hover{  
  border: 1px solid var(--primary-yellow);
  background-color: var(--primary-yellow) !important;
  color: black;
}
.sec4{
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}
.sec4 h3{
  font-size: 44px;
  color: var(--primary-main);
  text-align: center; 
  font-weight: bold;
}
.sec4 p{
  font-size: 24px;
  color: var(--primary-main);
  text-align: center;
  font-weight: bold;
} 

 
.swiper-slide { 
  display:flex;
  justify-content:center;
  align-items:center;  
}
.swiper-button-next, .swiper-button-prev {
  background:#fff; 
  color:#000; 
  border-radius:50%;
  width:44px; 
  height:44px; 
  box-shadow:0 4px 12px rgba(0,0,0,0.12);
}  

.xquality{
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size:  100% auto !important; 
  min-height: 350px;
}

/*  
  font-family: "Chivo", sans-serif; 
######################################################################################################
###################################################################################################### 
*/ 
 

@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }
}
@media only screen and (min-width: 768px) { /* PC */
  .pc-x{
    display: none !important;
  }      
}      